@model AppWeb.Models.Event

@{
    ViewData["Title"] = "Editar Reserva";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <style>
        body, html {
            overflow: auto;
            font-family: 'Montserrat', sans-serif;
            height: 100%;
            margin: 0;
            padding-bottom: 50px;
            background-color: #f8f9fa; /* Fondo gris claro */
        }

        h4 {
            color: #ff8c00; /* Título en naranja */
        }

        .container {
            margin-top: 10px;
        }

        .form-container {
            max-width: 400px;
            margin: 0 auto;
            background-color: #ffffff; /* Fondo blanco */
            border: 1px solid #333; /* Borde negro */
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-control {
            width: 100%; /* Ajustar el ancho al 100% */
        }

        .btn-primary {
            background-color: #ff8c00; /* Botón de color naranja */
            border-color: #ff8c00; /* Color del borde naranja */
        }

            .btn-primary:hover {
                background-color: #d17f00; /* Color naranja oscuro al pasar el ratón */
                border-color: #d17f00;
            }

        .btn-secondary {
            background-color: #333; /* Botón de color negro */
            border-color: #333; /* Color del borde negro */
            color: #fff; /* Letras blancas */
        }

            .btn-secondary:hover {
                background-color: #000; /* Color negro oscuro al pasar el ratón */
                border-color: #000;
            }

        .btn-back {
            position: absolute;
            top: 632px;
            right: 40px;
            margin-top: 15px;
        }
    </style>
</head>
<body class="text-center">

    <div class="container">
        <div class="form-container">
            <h4>Editar Reserva</h4>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EventId" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Nombre</label>
                    <input asp-for="Title" class="form-control" pattern="[a-zA-Z\s]+" required />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Start" class="control-label">Fecha Inicio</label>
                    <input asp-for="Start" class="form-control" type="datetime-local" required />
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="End" class="control-label">Fecha Fin</label>
                    <input asp-for="End" class="form-control" type="datetime-local" required />
                    <span asp-validation-for="End" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserId" class="control-label">Usuario</label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId" required>
                        <option value="">Seleccione un usuario</option>
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PagoId" class="control-label">Pago</label>
                    <select asp-for="PagoId" class="form-control" asp-items="ViewBag.PagoId" required>
                        <option value="">Seleccione un pago</option>
                    </select>
                    <span asp-validation-for="PagoId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="VehiculoId" class="control-label">Vehiculo</label>
                    <select asp-for="VehiculoId" class="form-control" asp-items="ViewBag.VehiculoId" required>
                        <option value="">Seleccione un vehículo</option>
                    </select>
                    <span asp-validation-for="VehiculoId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EstadoId" class="control-label">Estado</label>
                    <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId" required>
                        <option value="">Seleccione un estado</option>
                    </select>
                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
            <a class="btn btn-secondary btn-back" asp-action="Index">Volver</a>
        </div>
    </div>

</body>
</html>

